* {
  box-sizing: border-box;
  font-size: 17px;
  font-family: Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  border: 2px solid blue;
  height: 100vh;
  width: 370px;
  position: fixed;
  float: left;
  
}

nav a {
  display: flex;
  justify-content: center;
  padding: 15px 5px 15px;
  border-top: 2px solid black;
  background: rgb(134,134,134);
  background: linear-gradient(90deg, rgba(134,134,134,1) 0%, rgba(0,0,0,1) 53%, rgba(241,242,242,1) 100%);
  color: white;
  text-decoration: none;
  
}

nav a:hover {
  transform: scale(1.01);
  color: rgb(171, 156, 156);
}

nav header {
  display: flex;
  justify-content: center;
  padding: 25px 5px 25px;
  font-size: 30px;
  background: rgb(134,134,134);
  background: radial-gradient(circle, rgba(134,134,134,1) 0%, rgba(0,0,0,1) 50%, rgba(241,242,242,1) 100%);
  color: white;
}

#bot-border {
  border-bottom: 2px solid black;
}

main {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 370px;
  width: calc(100% - 370px);
  height: 1500px; 
}

@media (max-width: 700px) {
  nav {
    width: 100%;
    top:0;
    position: absolute;
    overflow: scroll;
    height: 300px;
  }
  main {
    left:0;
    width: calc(100% - 2px);   
  }
  body {
    padding-top: 300px;
  }
}